.mycourses {
  margin-top: $mg-2;
  .courses__content {
    width: 80%;
    margin: 0 auto;
    .courses__intro {
      background-color: $color-gray-5;
      height: 400px;
      padding-top: 100px;
      text-align: center;
      h2 {
        padding-top: 4rem;
        @include text($color-black-0, $fs-2 - 1, $fw-bold-0);
      }
    }

    .mytab {
      .nav {
        border: none;
        justify-content: space-between;
        .nav-item {
          &:hover {
            .nav-link {
              border: none;
            }
          }
          .nav-link.active {
            border: none;
            border-bottom: 5px solid $color-blue;
          }
          .nav-link {
            @include text($color-black-0, $fs-0, $fw-normal);
            border: none;
            padding: 0;
          }
        }
      }

      .tab-content {
        margin-top: $mg-2;
        position: relative;
        .card-title {
          @include text($color-black-0, $fs-0, $fw-bold);
        }
        .card-text {
          @include text($color-gray-4, $fs-1, $fw-normal);
        }
        .rating {
          .rating__star {
            @include text($color-yellow, $fs-1, $fw-normal);
            margin-right: $mg-1;
          }
          span:nth-child(2) {
            @include text($color-gray-4, $fs-1, $fw-bold);
            margin-right: $mg-1;
          }
          span:last-child {
            @include text($color-gray-4, $fs-1, $fw-normal);
          }
        }
        .price {
          text-align: right;
          margin-top: $mg-2;
          .old-price {
            @include text($color-gray-4, $fs-1, $fw-normal);
            text-decoration: line-through;
          }
          .new-price {
            @include text($color-black-0, $fs-0, $fw-bold);
          }
        }
      }
    }
  }
}
