.header__navbar {
  .navbar-brand {
    flex-grow: 0.5;
    img {
      width: 110px;
    }
  }
  .header__left {
    display: flex;
    align-items: center;
    .categories {
      flex-grow: 0.5;
      i{
        padding-right: 10px;
      }
    }
    .formsearch {
      flex-grow: 5;
      .form-control {
        background-color: $color-gray-1;
        border: none;
        &:focus {
          box-shadow: none;
          background-color: $color-white-0;
          border-top: 1px solid $color-gray-3;
          border-left: 1px solid $color-gray-3;
          border-bottom: 1px solid $color-gray-3;
        }
        &:focus + .input-group-append {
          .input-group-text {
            background-color: $color-white-0;
            color: $color-red-0;
            border-top: 1px solid $color-gray-3;
            border-right: 1px solid $color-gray-3;
            border-bottom: 1px solid $color-gray-3;
          }
        }
      }
      .input-group-append {
        .input-group-text {
          background-color: $color-gray-1;
          color: $color-red-0;
          border: none;
        }
        &:hover {
          .input-group-text {
            color: $color-white-0;
            background-color: $color-red-0;
          }
        }
      }
    }
  }

  .header__right {
    .navbar-nav {
      justify-content: space-between;
      width: 100%;
      .nav-item {
        .nav-link {
          @include text($color-black-light, $fs-1, $fw-normal);
          padding: $pd-1 $pd-2;
        }
        &:hover {
          .nav-link {
            background-color: $color-gray-1;
          }
        }
      }
      .nav-item:nth-child(3) {
        .nav-link {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          padding: 12px;
        }
      }
    }
  }
}
